<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if(rssItems.length > 0) {%>
      <div class="col-md-6">
        <div class="panel panel-primary" id="panel-feed">
          <div class="panel-heading">
            <h3 class="panel-title">RSS feed from NodeJS.org</h3>
          </div>
          <div class="panel-body">
            <% for(var i=0; i<rssItems.length; i++) {%>
              <a href="<%= rssItems[i].link %>" target="_blank"><%= rssItems[i].title %></a> - <i><%= rssItems[i].date %></i><br/>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>


    <div class="col-md-6">
      <div class="panel panel-primary" id="panel-tweets">
        <div class="panel-heading">
          <h3 class="panel-title">Tweets related to NodeJS</h3>
        </div>
        <div class="panel-body">
          <a id="nodetl" class="twitter-timeline" href="https://twitter.com/nodejs" data-chrome="nofooter noheader noborder scrollbar" data-height="0"></a>
        </div>
      </div>
    </div>

    <script src="/lib/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        var el = document.getElementById('panel-feed').getElementsByClassName('panel-body')[0];
        var h = $(el).height() - 5;
        $("#nodetl").attr("data-height", h);
        $.getScript( "//platform.twitter.com/widgets.js", function( data, textStatus, jqxhr ) {
          console.log( data ); // Data returned
          console.log( textStatus ); // Success
          console.log( jqxhr.status ); // 200
          console.log( "Load was performed." );
        });
      ;})
    </script>
    <!-- <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  </body>
</html>
